@import "tailwindcss";

:root {
  --background: #08192a;
  --foreground: #ffffff;
  --primary: #E4B40D;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .hover\:text-primary:hover {
    color: var(--primary);
  }

  .text-background {
    color: var(--background)
  }

  .font-raleway {
    font-family: var(--font-raleway);
  }

  .font-neue {
    font-family: var(--font-neue-machina);
  }
}